* {
    box-sizing: border-box;
    font-family: 'Press Start 2P', cursive;
  }
.game {
    position: relative; 
    display: inline-block
}

.game__top {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}
.game__health {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    border-top: 4px solid white;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
}
.game__health--enemy {
    border-left: none;
    border-right: 4px solid white;

}
.game__health-empty {
    background-color: red; 
    height: 30px;
    width: 100%;

}
.game__health-bar {
    position: absolute;
    background: #818cf8;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
}
.game__health-bar--enemy {
    width: unset;
    left: 0;
}
.game__timer {
    background-color: black;
    width: 100px;
    height: 50px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    border: 4px solid white;
}
.game__result {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
